/vendor/
/web/core/
/web/modules/contrib/
/web/themes/contrib/
/web/profiles/contrib/
/web/sites/*/settings.local.php
/web/sites/*/services.local.yml
/web/sites/*/files/
/web/sites/simpletest/
/web/sites/default/private/
/web/sites/default/files/
/web/sites/default/settings.php.bak
/web/sites/default/services.yml.bak
/drush-backups/
/tmp/
/.phpunit.result.cache
/.idea/
/.vscode/
/.DS_Store
.env
.env.*
!.env.example
/var/
!/var/files/.gitkeep
